<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <bean name="readOneDictionaryByDictionaryTypeCodesFunc" class="org.springframework.scripting.groovy.GroovyScriptFactory">
        <constructor-arg value="${app.root}/config/cardone/configuration/groovy/top/cardone/configuration/func/ReadOneDictionaryByDictionaryTypeCodesFunc.groovy"/>
    </bean>

    <bean name="readOneErrorInfoContentFunc" class="top.cardone.configuration.func.ReadOneErrorInfoContentFunc"/>

    <bean name="saveListDictionaryFunc" class="top.cardone.context.action.MethodInvokerFunc1">
        <property name="targetBeanName" value="top.cardone.configuration.service.DictionaryService"/>
        <property name="targetMethod" value="saveList"/>
    </bean>

    <bean name="saveListVariableFunc" class="top.cardone.context.action.MethodInvokerFunc1">
        <property name="targetBeanName" value="top.cardone.configuration.service.VariableService"/>
        <property name="targetMethod" value="saveList"/>
    </bean>

    <bean name="findListDictionaryFunc" class="top.cardone.context.action.MethodInvokerFunc1">
        <property name="targetBeanName" value="top.cardone.configuration.service.DictionaryService"/>
        <property name="targetMethod" value="findList"/>
    </bean>
</beans>