<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="top.cardone.configuration.service.NavigationService.init"
          class="top.cardone.data.action.InitDataAction">
        <property name="serviceBeanId" value="top.cardone.configuration.service.NavigationService"/>
        <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/navigation-*.json"/>
        <property name="postActions">
            <list>
                <bean class="top.cardone.configuration.action.InitI18nInfoAction">
                    <property name="typeCode" value="navigation"/>
                    <property name="i18nInfoCodeKeys">
                        <list>
                            <value>navigationCode</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <bean class="top.cardone.context.action.Actions" init-method="action">
        <property name="actions">
            <list>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.SystemInfoService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/systemInfo-*.json"/>
                    <property name="postActions">
                        <list>
                            <bean class="top.cardone.configuration.action.InitI18nInfoAction">
                                <property name="typeCode" value="systemInfo"/>
                                <property name="i18nInfoCodeKeys">
                                    <list>
                                        <value>systemInfoCode</value>
                                    </list>
                                </property>
                            </bean>
                        </list>
                    </property>
                </bean>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.SiteService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/site-*.json"/>
                    <property name="postActions">
                        <list>
                            <bean class="top.cardone.configuration.action.InitI18nInfoAction">
                                <property name="typeCode" value="site"/>
                                <property name="i18nInfoCodeKeys">
                                    <list>
                                        <value>siteCode</value>
                                    </list>
                                </property>
                            </bean>
                        </list>
                    </property>
                </bean>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.I18nInfoService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/i18nInfo-*.json"/>
                </bean>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.DictionaryTypeService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/dictionaryType-*.json"/>
                    <property name="postActions">
                        <list>
                            <bean class="top.cardone.configuration.action.InitI18nInfoAction">
                                <property name="typeCode" value="dictionaryType"/>
                                <property name="i18nInfoCodeKeys">
                                    <list>
                                        <value>dictionaryTypeCode</value>
                                    </list>
                                </property>
                            </bean>
                        </list>
                    </property>
                </bean>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.DictionaryService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/dictionary-*.json"/>
                    <property name="postActions">
                        <list>
                            <bean class="top.cardone.configuration.action.InitI18nInfoAction">
                                <property name="typeCode" value="dictionary"/>
                                <property name="i18nInfoCodeKeys">
                                    <list>
                                        <value>dictionaryTypeCode</value>
                                        <value>dictionaryCode</value>
                                    </list>
                                </property>
                            </bean>
                        </list>
                    </property>
                </bean>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.DictionaryItemService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/dictionaryItem-*.json"/>
                    <property name="postActions">
                        <list>
                            <bean class="top.cardone.configuration.action.InitI18nInfoAction">
                                <property name="typeCode" value="dictionaryItem"/>
                                <property name="i18nInfoCodeKeys">
                                    <list>
                                        <value>dictionaryTypeCode</value>
                                        <value>dictionaryCode</value>
                                        <value>dictionaryItemCode</value>
                                    </list>
                                </property>
                            </bean>
                        </list>
                    </property>
                </bean>
                <ref bean="top.cardone.configuration.service.NavigationService.init"/>
            </list>
        </property>
    </bean>

    <bean name="dictionaryTypeGenerateTreeAction" class="top.cardone.data.action.GenerateTreeAction">
        <property name="codePutKey" value="dictionaryTypeCode"/>
        <property name="codeGetKey" value="DICTIONARY_TYPE_CODE"/>
        <property name="pkPutKey" value="dictionaryTypeId"/>
        <property name="pkGetKey" value="DICTIONARY_TYPE_ID"/>
        <property name="serviceBeanId" value="top.cardone.configuration.service.DictionaryTypeService"/>
    </bean>

    <bean name="navigationGenerateTreeAction" class="top.cardone.data.action.GenerateTreeAction">
        <property name="codePutKey" value="navigationCode"/>
        <property name="codeGetKey" value="NAVIGATION_CODE"/>
        <property name="pkPutKey" value="navigationId"/>
        <property name="pkGetKey" value="NAVIGATION_ID"/>
        <property name="serviceBeanId" value="top.cardone.configuration.service.NavigationService"/>
    </bean>

    <bean name="siteGenerateTreeAction" class="top.cardone.data.action.GenerateTreeAction">
        <property name="codePutKey" value="siteCode"/>
        <property name="codeGetKey" value="SITE_CODE"/>
        <property name="pkPutKey" value="siteId"/>
        <property name="pkGetKey" value="SITE_ID"/>
        <property name="serviceBeanId" value="top.cardone.configuration.service.SiteService"/>
    </bean>
</beans>