<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 错误信息 -->
    <bean parent="messageListenerContainerParnet">
        <property name="messageListener">
            <bean  parent="remoteInvocationExecutorParnet">
                <property name="serviceInterface" value="top.cardone.configuration.service.ErrorInfoService"/>
                <property name="service" ref="top.cardone.configuration.service.ErrorInfoService"/>
            </bean>
        </property>
        <property name="destination">
            <bean class="org.apache.activemq.command.ActiveMQQueue">
                <constructor-arg value="cardone-configuration-${cardone-configuration-version}:top.cardone.configuration.service.ErrorInfoService"/>
            </bean>
        </property>
    </bean>
</beans>