<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="top.cardone.data.listener.GenerateListener">
        <property name="skip" value="${GenerateListener.DictionaryTypeService.skip:false}"/>
        <property name="serviceBeanId" value="top.cardone.configuration.service.DictionaryTypeService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="dictionaryTypeTree"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean class="top.cardone.data.listener.GenerateListener">
        <property name="skip" value="${GenerateListener.NavigationService.skip:false}"/>
        <property name="serviceBeanId" value="top.cardone.configuration.service.NavigationService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="navigationTree"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean class="top.cardone.data.listener.GenerateListener">
        <property name="skip" value="${GenerateListener.SiteService.skip:false}"/>
        <property name="serviceBeanId" value="top.cardone.configuration.service.SiteService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="siteTree"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean class="top.cardone.data.listener.GenerateListener">
        <property name="skip" value="${GenerateListener.I18nInfoService.skip:false}"/>
        <property name="serviceBeanId" value="top.cardone.configuration.service.I18nInfoService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="i18nInfoUpdateOther"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>
</beans>