<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="top.cardone.data.listener.GenerateTreeListener">
        <property name="codePutKey" value="dictionaryTypeCode"/>
        <property name="codeGetKey" value="DICTIONARY_TYPE_CODE"/>
        <property name="pkPutKey" value="dictionaryTypeId"/>
        <property name="pkGetKey" value="DICTIONARY_TYPE_ID"/>
        <property name="serviceBeanId" value="top.cardone.configuration.service.DictionaryTypeService"/>
    </bean>

    <bean class="top.cardone.data.listener.GenerateTreeListener">
        <property name="codePutKey" value="navigationCode"/>
        <property name="codeGetKey" value="NAVIGATION_CODE"/>
        <property name="pkPutKey" value="navigationId"/>
        <property name="pkGetKey" value="NAVIGATION_ID"/>
        <property name="serviceBeanId" value="top.cardone.configuration.service.NavigationService"/>
    </bean>
</beans>