<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <bean name="top.cardone.configuration.func.FindListDictionaryForSelectFunc"
          class="top.cardone.configuration.func.FindListDictionaryForSelectFunc"/>

    <alias name="top.cardone.configuration.func.FindListDictionaryForSelectFunc" alias="dictionaryForSelectFunc"/>

    <alias name="top.cardone.configuration.func.FindListDictionaryForSelectFunc" alias="findListDictionaryForSelectFunc"/>

    <alias name="top.cardone.configuration.func.FindListDictionaryForSelectFunc" alias="dictionarySelectFunc"/>

    <bean name="top.cardone.configuration.func.ReadOneDictionaryFunc"
          class="top.cardone.configuration.func.ReadOneDictionaryFunc"/>

    <alias name="top.cardone.configuration.func.ReadOneDictionaryFunc" alias="readOneDictionaryFunc"/>

    <bean name="top.cardone.configuration.func.FindListDictionaryTypeForSelectFunc"
          class="top.cardone.configuration.func.FindListDictionaryTypeForSelectFunc"/>

    <alias name="top.cardone.configuration.func.FindListDictionaryTypeForSelectFunc" alias="findListDictionaryTypeForSelectFunc"/>

    <bean name="top.cardone.configuration.func.ReadOneDictionaryTypeFunc"
          class="top.cardone.configuration.func.ReadOneDictionaryTypeFunc"/>

    <alias name="top.cardone.configuration.func.ReadOneDictionaryTypeFunc" alias="readOneDictionaryTypeFunc"/>

    <bean id="generateDictionaryTypeTreeFunc"
          class="top.cardone.data.func.GenerateTreeFunc">
        <property name="codePutKey" value="dictionaryTypeCode"/>
        <property name="codeGetKey" value="DICTIONARY_TYPE_CODE"/>
        <property name="pkPutKey" value="dictionaryTypeId"/>
        <property name="pkGetKey" value="DICTIONARY_TYPE_ID"/>
        <property name="service" ref="top.cardone.configuration.service.DictionaryTypeService"/>
    </bean>

    <bean id="generateNavigationTreeFunc"
          class="top.cardone.data.func.GenerateTreeFunc">
        <property name="codePutKey" value="navigationCode"/>
        <property name="codeGetKey" value="NAVIGATION_CODE"/>
        <property name="pkPutKey" value="navigationId"/>
        <property name="pkGetKey" value="NAVIGATION_ID"/>
        <property name="service" ref="top.cardone.configuration.service.NavigationService"/>
    </bean>
</beans>