<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 字典项 -->
    <bean id="top.cardone.configuration.dao.DictionaryItemDao"
          class="top.cardone.configuration.dao.impl.DictionaryItemDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/configuration/dictionaryItem/"/>
                        <entry key="pks" value="dictionaryItemId"/>
                        <entry key="codes" value="systemCode,siteCode,orgCode,dictionaryTypeCode,dictionaryCode,dictionaryItemCode,endDate"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="dictionaryItemId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readPrincipalFunc"/>
                        <entry key="createdDate" value="readOneDateFunc"/>
                        <entry key="beginDate" value="readOneDateFunc"/>
                        <entry key="endDate" value="endDateDefaultValueFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readPrincipalFunc"/>
                        <entry key="lastModifiedDate" value="readOneDateFunc"/>
                        <entry key="endDate" value="endDateDefaultValueFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>
	
    <bean id="top.cardone.configuration.service.DictionaryItemService"
          class="top.cardone.configuration.service.impl.DictionaryItemServiceImpl">
		<property name="dao" ref="top.cardone.configuration.dao.DictionaryItemDao"/>
	</bean>
</beans>