<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="top.cardone.configuration.service.NavigationService.init"
          class="top.cardone.data.action.InitDataAction">
        <property name="serviceBeanId" value="top.cardone.configuration.service.NavigationService"/>
        <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/navigation-*.json"/>
    </bean>

    <bean class="top.cardone.context.action.Actions" init-method="action">
        <property name="actions">
            <list>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.SystemInfoService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/systemInfo-*.json"/>
                </bean>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.SiteService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/site-*.json"/>
                </bean>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.I18nInfoService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/i18nInfo-*.json"/>
                </bean>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.ErrorInfoService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/errorInfo-*.json"/>
                </bean>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.DictionaryTypeService"/>
                    <property name="jsonFiles"
                              value="${app.root}/config/*/configuration/init-data/dictionaryType-*.json"/>
                </bean>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.DictionaryService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/dictionary-*.json"/>
                </bean>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.configuration.service.DictionaryItemService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/configuration/init-data/dictionaryItem-*.json"/>
                </bean>
                <ref bean="top.cardone.configuration.service.NavigationService.init"/>
            </list>
        </property>
    </bean>

    <bean class="top.cardone.data.action.GenerateTreeAction">
        <property name="codePutKey" value="dictionaryTypeCode"/>
        <property name="codeGetKey" value="DICTIONARY_TYPE_CODE"/>
        <property name="pkPutKey" value="dictionaryTypeId"/>
        <property name="pkGetKey" value="DICTIONARY_TYPE_ID"/>
        <property name="serviceBeanId" value="top.cardone.configuration.service.DictionaryTypeService"/>
    </bean>

    <bean class="top.cardone.data.action.GenerateTreeAction">
        <property name="codePutKey" value="navigationCode"/>
        <property name="codeGetKey" value="NAVIGATION_CODE"/>
        <property name="pkPutKey" value="navigationId"/>
        <property name="pkGetKey" value="NAVIGATION_ID"/>
        <property name="serviceBeanId" value="top.cardone.configuration.service.NavigationService"/>
    </bean>
</beans>