<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <rabbit:direct-exchange
            name="exchange:cardone-configuration-${cardone-configuration-version}:top.cardone.configuration.service.I18nInfoService">
        <rabbit:bindings>
            <rabbit:binding
                    queue="queue:cardone-configuration-${cardone-configuration-version}:top.cardone.configuration.service.I18nInfoService"
                    key="queue:cardone-configuration-${cardone-configuration-version}:top.cardone.configuration.service.I18nInfoService"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:queue
            name="queue:cardone-configuration-${cardone-configuration-version}:top.cardone.configuration.service.I18nInfoService"/>

    <bean id="top.cardone.configuration.service.I18nInfoServiceExporter" parent="remoteInvocationExecutorParnet">
        <property name="serviceInterface" value="top.cardone.configuration.service.I18nInfoService"/>
        <property name="service" ref="top.cardone.configuration.service.I18nInfoService"/>
    </bean>

    <rabbit:listener-container message-converter="amqpMessageConverter" concurrency="32" prefetch="32">
        <rabbit:listener ref="top.cardone.configuration.service.I18nInfoServiceExporter"
                         queue-names="queue:cardone-configuration-${cardone-configuration-version}:top.cardone.configuration.service.I18nInfoService"/>
    </rabbit:listener-container>
</beans>