<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd">
    <lang:groovy id="javaConfig" script-source="file:config/JavaConfig.groovy"/>

    <bean id="org.springframework.core.task.TaskExecutor"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" lazy-init="true">
        <!-- 核心线程数，默认为1 -->
        <property name="corePoolSize" value="150"/>

        <!-- 最大线程数，默认为Integer.MAX_VALUE -->
        <property name="maxPoolSize" value="150"/>

        <!-- 线程池维护线程所允许的空闲时间，默认为60s -->
        <property name="keepAliveSeconds" value="180"/>

        <property name="allowCoreThreadTimeOut" value="true"/>

        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy"/>
        </property>
    </bean>

    <bean id="slowTaskExecutor"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" lazy-init="true">
        <!-- 最大线程数，默认为Integer.MAX_VALUE -->
        <property name="maxPoolSize" value="1"/>

        <!-- 线程池维护线程所允许的空闲时间，默认为60s -->
        <property name="keepAliveSeconds" value="180"/>

        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy"/>
        </property>
    </bean>

    <import resource="**/applicationContext-**.xml"/>

    <import resource="spring-mvc-**.xml"/>
</beans>